<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Qrcode</title>
    <style>
        input {
            background: none;
            outline: none;
            border: none;
        }

        .box {
            display: inline-block;
            width: 90%;
            height: 8vh;
            border-radius: 19px;
            background: #ebebeb;
            box-shadow: inset 34px 34px 90px #dbdbdb,
            inset -34px -34px 90px #fbfbfb;
        }

        .radio {
            display: inline-block;
        }

    </style>
</head>
<link rel="stylesheet" href="../static/index/css/style.css">
<script src="../static/index/js/jquery-1.11.1.min.js"></script>

<body onload="init()"
      style="font-family:'lucida grande', 'lucida sans unicode', 'lucida', 'helvetica', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'sans-serif';">


<section>
    <h1 style="text-align: center">Qrcode</h1>

    <form id="basic-form" method="post" action="submit" onsubmit="return check(this)">
        <div class="form-group">
            <input type="text" id="basic-form-first-name" placeholder="学号" name="studentID">
            <label for="basic-form-first-name">学号</label>
        </div>
        <div class="form-group">
            <input type="text" id="basic-form-last-name" placeholder="姓名" name="studentName">
            <label for="basic-form-last-name">姓名</label>
        </div>
        <div class="form-group" style="display:block;text-align: center">
            <input class="radio" type="radio" name="door" value="西南门"/>
            <span class="radio">西南门</span>
            <input class="radio" type="radio" name="door" value="东南门" checked/>
            <span class="radio">东南门</span>
            <input class="radio" type="radio" name="door" value="北门"/>
            <span class="radio">北门</span>
            <input class="radio" type="radio" name="codeType" value="进校" checked/>
            <span class="radio">进校</span>
            <input class="radio" type="radio" name="codeType" value="出校"/>
            <span class="radio">出校</span>
        </div>
        <div class="form-group">
            <button id="basic-form-submit" type="submit">提交</button>
        </div>
        <script>
            function check(myForm) {
                if (myForm.studentID.value == "") {
                    alert("没填学号");
                    myForm.studentID.focus();
                    return false;
                }
                if (myForm.studentName.value == "") {
                    alert("没填姓名");
                    myForm.studentName.focus();
                    return false;
                }
                return true;
            }

            function init() {
                $.ajax({
                    type: 'GET',
                    url: '/checkSession',
                    dataType: 'json',
                    success: function (data) {
                        if (data.error != 1) {
                            sId = data.studentID;
                            sName = data.studentName;
                            $("#basic-form-first-name").val(sId);
                            $("#basic-form-last-name").val(sName);
                        }
                    }
                });
            }
        </script>

    </form>
</section>
</body>
</html>